In [3]:
string_variable = "this is a \t variable"
print(string_variable)

this is a 	 variable

In [4]:
x = "99"
y=int(x)
type(y)

int

In [5]:
x = "99.9"
y = float(x)
print(y)
type(y)

99.9

float

In [6]:
z = str(y)
type(z)

str

In [8]:
bool_value = bool("")
print(bool_value)
type(bool_value)

False

bool

In [9]:
x = 1
y = 2
z=x=y=3
print(x)
print(y)
print(z)

3
3
3

In [10]:
a = int(input())

if a % 2 == 0:
    print("number is even")
else:
    print("number is odd")

5
number is odd

In [13]:
x = int(input())

if x > 0:
    print("number is positive")
elif x < 0:
    print("number is negative")
else:
    print("number is 0")

-9
number is negative

In [14]:
age = 23

In [15]:
age += 1
print(age)

24

In [16]:
age -= 1
print(age)

23

In [17]:
age *= 2
print(age)

46

In [18]:
x = 3
y = x**2*3
print(y)

27

In [19]:
str1 = "Hello "
str2 = str(34)
str3 = str1 + str2
print(str3)

Hello 34

In [20]:
if "Hello World":
    print("if")
else:
    print("else")

if

In [21]:
if 0:
    print("if")
else: 
    print("else")

else

In [25]:
marks = int(input())

if marks >= 0 and marks <= 100:
    if marks >= 90 and marks <= 100:
        print("A grade")
    elif marks >= 80 and marks <= 89:
        print("B grade")
    elif marks >= 70 and marks <= 79:
        print("C grade")
    elif marks >= 60 and marks <= 69:
        print("D grade")
    else:
        print("fail")
else:
    print("invalid marks")

56
fail

In [27]:
str1 = input()
str1 = str1.lower()
if str1 == "a" or str1 == "e" or str1 == "i" or str1 == "o" or str1 == "u":
    print("Vowels")
else:
    print("consonants")

n
consonants

In [28]:
cities = ["Atlanta", "Baltimore", "Chicago"]
print(cities)

['Atlanta', 'Baltimore', 'Chicago']

In [29]:
cities.append("Islamabad")
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Islamabad']

In [30]:
cities.insert(1,"Kolkata")

In [31]:
print(cities)

['Atlanta', 'Kolkata', 'Baltimore', 'Chicago', 'Islamabad']

In [32]:
cities[1:4]

['Kolkata', 'Baltimore', 'Chicago']

In [33]:
cities[:3]

['Atlanta', 'Kolkata', 'Baltimore']

In [34]:
cities[2:]

['Baltimore', 'Chicago', 'Islamabad']

In [35]:
cities[3]

'Chicago'

In [36]:
cities[:]

['Atlanta', 'Kolkata', 'Baltimore', 'Chicago', 'Islamabad']

In [37]:
y = cities

In [38]:
y.append("Colombo")
print(cities)

['Atlanta', 'Kolkata', 'Baltimore', 'Chicago', 'Islamabad', 'Colombo']

In [39]:
y = cities[:]
y.append("Sydney")
print(cities)
print(y)

['Atlanta', 'Kolkata', 'Baltimore', 'Chicago', 'Islamabad', 'Colombo']
['Atlanta', 'Kolkata', 'Baltimore', 'Chicago', 'Islamabad', 'Colombo', 'Sydney']

In [40]:
y[0:7:2]

['Atlanta', 'Baltimore', 'Islamabad', 'Sydney']

In [41]:
y[::-1]

['Sydney',
 'Colombo',
 'Islamabad',
 'Chicago',
 'Baltimore',
 'Kolkata',
 'Atlanta']

In [42]:
for i in cities:
    print(len(i),i)

7 Atlanta
7 Kolkata
9 Baltimore
7 Chicago
9 Islamabad
7 Colombo

In [43]:
print(len(cities))

6

In [44]:
str1 = "Hello World"
str1[0:5]

'Hello'

In [45]:
str1[0::2]

'HloWrd'

In [46]:
str1[::-1]

'dlroW olleH'

In [47]:
for i in str1:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [48]:
counter = 0
for i in str1:
    if i in ['a','e','i','o','u']:
        counter += 1
        print(i)
print(counter)

e
o
o
3

In [49]:
cities

['Atlanta', 'Kolkata', 'Baltimore', 'Chicago', 'Islamabad', 'Colombo']

In [50]:
del cities[2]
cities

['Atlanta', 'Kolkata', 'Chicago', 'Islamabad', 'Colombo']

In [51]:
cities

['Atlanta', 'Kolkata', 'Chicago', 'Islamabad', 'Colombo']

In [52]:
city = cities.pop(2)
city

'Chicago'

In [53]:
cities.remove("Islamabad")
cities

['Atlanta', 'Kolkata', 'Colombo']

In [54]:
del cities[0]
cities

['Kolkata', 'Colombo']

In [55]:
cities += ["Lahore", "Quetta"]
cities

['Kolkata', 'Colombo', 'Lahore', 'Quetta']

In [56]:
city = cities.pop(3)
city

'Quetta'

In [57]:
cities

['Kolkata', 'Colombo', 'Lahore']

In [58]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [60]:
for i in range(0,1001,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400
402
404
406
408
410
412
414
416
418
420
422
424
426
428
430
432
434
436
438
440
442
444
446
448
450
452
454
456
458
460
462
464
466
468
470
472
474
476
478
480
482
484
486
488
490
492
494
496
498
500
502
504
506
508
510
512
514
516
518
520
522
524
526
528
530
532
534
536
538
540
542
544
546
548
550
552
554
556
558
560
562
564
566
568
570
572
574
576
578
580
582
584
586
588
590
592
594
596
598
600
602
604
606
608
610
612
614
616
618
620
622
624
626
628
630
632
634
636
638
640
642
644
646
648
650
652
654
656
658
660
662
664
666
668
670
672
674
676
678
680
682
684
686
688
690
692
694
696
698
700
702
704
706
708
710
712
714
716
718
720
722
724
726
728
730
732
734
736
738
740
742
744
746
748
750
752
754
756
758
760
762
764
766
768
770
772
774
776
778
780
782
784
786
788
790
792
794
796
798
800
802
804
806
808
810
812
814
816
818
820
822
824
826
828
830
832
834
836
838
840
842
844
846
848
850
852
854
856
858
860
862
864
866
868
870
872
874
876
878
880
882
884
886
888
890
892
894
896
898
900
902
904
906
908
910
912
914
916
918
920
922
924
926
928
930
932
934
936
938
940
942
944
946
948
950
952
954
956
958
960
962
964
966
968
970
972
974
976
978
980
982
984
986
988
990
992
994
996
998
1000