In [3]:
a=int(input("Value of a = "))
b=int(input("Range = "))

for i in range(1,b+1):
   print(a,"x",i,"= ",a*i)

Value of a = 3
Range = 10
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 =  12
3 x 5 =  15
3 x 6 =  18
3 x 7 =  21
3 x 8 =  24
3 x 9 =  27
3 x 10 =  30

B W B W B W B W
W B W B W B W B
B W B W B W B W
W B W B W B W B
B W B W B W B W
W B W B W B W B
B W B W B W B W
W B W B W B W B

In [7]:
for i in range(8):
    for j in range(4):
        if i%2==0:
            print("B W ",end='')
        else:
            print("W B ",end='')
    print()

B W B W B W B W
W B W B W B W B
B W B W B W B W
W B W B W B W B
B W B W B W B W
W B W B W B W B
B W B W B W B W
W B W B W B W B

In [12]:
for i in range(0,8):
    for j in range(0,8):
        if (i+j)%2 == 0:
            print("B ",end="")
        else:
            print("W ",end="")  
    print("")

B W B W B W B W
W B W B W B W B
B W B W B W B W
W B W B W B W B
B W B W B W B W
W B W B W B W B
B W B W B W B W
W B W B W B W B

In [19]:
color = ("red", "green", "blue")
color = ("pink", "yellow", "blue")
color = "Hello"
print(color)

Hello

In [26]:
str1 = "hello world"
str2 = str1.upper()
str3 = str1.title()
print(str1)
print(str2)
print(str3)

hello world
HELLO WORLD
Hello World

In [31]:
word = input('enter sentence..')

word.count(' ')+1

enter sentence..MOS

1

In [37]:
word = input("Enter Sentence ")
x = word.split()
len(x)

Enter Sentence this  is mohsin

3

In [40]:
doctor = {"name":"Noman Islam", "qualification":"PHD","Salary":"300000"}
doctor["name"]

'Noman Islam'

In [42]:
doctor.keys()

dict_keys(['name', 'qualification', 'Salary'])

In [43]:
doctor.values()

dict_values(['Noman Islam', 'PHD', '300000'])

In [48]:
for i in doctor.keys():
    print(i,doctor[i])

name Noman Islam
qualification PHD
Salary 300000

In [51]:
doctor["specialization"] = "Computer Science"
doctor

{'name': 'Noman Islam',
 'qualification': 'PHD',
 'Salary': '300000',
 'specialization': 'Computer Science'}

In [52]:
for i,j in doctor.items():
    print(i, j)

name Noman Islam
qualification PHD
Salary 300000
specialization Computer Science

In [ ]:
hello
h 1
e 1
l 2
o 1

In [49]:
char_count = {}
word = input("Enter a sentence")
for i in word:
    if i in char_count.keys():
        char_count[i] += 1
    else:
        char_count[i] = 1
        
print(char_count)

Enter a sentenceHello World
{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'W': 1, 'r': 1, 'd': 1}

In [50]:
char_count = {}
word = input("Enter a sentence")
word = word.split(' ')
for i in word:
    if i in char_count.keys():
        char_count[i] += 1
    else:
        char_count[i] = 1
        
print(char_count)

Enter a sentenceali ali is is khan yar
{'ali': 2, 'is': 2, 'khan': 1, 'yar': 1}

In [53]:
doctors = [{"name":"Zubair","Salary":"60000"},{"name":"Mohsin","salary":"60000"}]

In [57]:
doctors[0]["name"]

'Zubair'

In [58]:
del doctors[0]["name"]
doctors

[{'Salary': '60000'}, {'name': 'Mohsin', 'salary': '60000'}]

In [59]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St.", "discounts": ["standard", "volume", "loyalty"]}

In [63]:
del customer_29876['discounts'][0]
customer_29876

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'discounts': ['volume', 'loyalty']}

In [65]:
customers = { "johnog": {"first name":"John", "last name": "Ogden", "address": "301 Arbor Rd." }, "coder1200": {"first name":"Ann", "last name": "Sattermyer", "address": "PO Box 1145" }, "madmaxine": {"first name":"Jill", "last name": "Somers", "address": "3 Main St." } 
  } 
customers

{'johnog': {'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 'coder1200': {'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 'madmaxine': {'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'}}

In [68]:
customers['johnog']

{'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}

In [71]:
customers['johnog']['address']

'301 Arbor Rd.'